body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #F5F5F6;
}

::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.668);
}

.ingredients-list .ant-row {
  max-height: 200px;
  overflow-y: auto;
}
